html,
body {
  margin: 0;
  height: 100%;
}

/* Add application styles & imports to this file! */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #15181e;
  color: #f0f0f0;
}
