:host {
  all: initial;
  display: contents;
}

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f0f0f0 !important;
  transition: background-color 0.2s;
  background-color: transparent;
}

a:hover,
a:focus {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

:host ::ng-deep .mat-list-item-content {
  color: inherit !important;
}
