<div class="page">
  <mat-drawer-container class="app-container" autosize>
    <mat-drawer #drawer class="side-menu-container" mode="side">
      <mat-nav-list>
        <ng-content select='[slot="primary-nav-links"]'></ng-content>
      </mat-nav-list>
    </mat-drawer>
    <div class="page__main">
      <mat-toolbar color="primary">
        <button
          class="page__button"
          type="button"
          mat-icon-button
          (click)="setPrimaryNavOpen.emit(!this.primaryNavOpen)"
        >
          <mat-icon aria-label="Toggle sidenav">menu</mat-icon>
        </button>
        <ng-container [ngSwitch]="level">
          <h1 class="title" *ngSwitchCase="1">{{ heading }}</h1>
          <h2 class="title" *ngSwitchCase="2">{{ heading }}</h2>
          <h3 class="title" *ngSwitchCase="3">{{ heading }}</h3>
          <h4 class="title" *ngSwitchCase="3">{{ heading }}</h4>
          <h5 class="title" *ngSwitchCase="3">{{ heading }}</h5>
          <h6 class="title" *ngSwitchCase="3">{{ heading }}</h6>
          <div class="title" *ngSwitchDefault>{{ heading }}</div>
        </ng-container>
      </mat-toolbar>
      <div
        class="page__body"
        [class.hidden]="!hasSlottedElements(bodyWrapper)"
        #bodyWrapper
      >
        <ng-content></ng-content>
      </div>
    </div>
  </mat-drawer-container>
</div>
