:host {
  all: initial;
  display: contents;
}

.page {
  display: grid;
  min-height: 100%;
}

mat-toolbar {
  gap: 1rem;
}

mat-drawer-container,
mat-drawer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #202327;
  color: #f0f0f0;
}

mat-drawer {
  background-color: #2e3138;
  color: #f0f0f0;
}

.page__primary-nav-wrapper,
.page__body-wrapper {
  display: contents;
}

.page__body {
  padding: 1rem;
}

button ::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  transition: background-color 0.2s;
  background-color: transparent;
  border-radius: 50%;
}

button:hover ::before {
  background-color: rgba(0, 0, 0, 0.1);
}
