:host {
  all: initial;
  display: contents;
}

.button__content-wrapper {
  display: contents;
}

button {
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  white-space: normal; /* Why would Material set this to nowrap? */
  line-height: normal;
  padding: 0.5rem;
}

// NOTE: You can put any style overrides for button here
.tertiary {
  color: #f0f0f0;
}

button::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;
  transition: background-color 0.2s;
  background-color: transparent;
  margin: 0;
}

button:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}
