<ng-container *ngIf="type === 'primary'">
  <!-- Because conditional binding doesn't exist, we get lots of fun duplication. Thanks, Angular! -->
  <button type="button" mat-raised-button color="primary">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
  </button>
</ng-container>

<ng-container *ngIf="type === 'secondary'">
  <button type="button" mat-raised-button color="accent">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
  </button>
</ng-container>

<ng-container *ngIf="type === 'tertiary'">
  <button type="button" class="tertiary" mat-button color="basic">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
  </button>
</ng-container>

<ng-template #buttonContent>
  <ng-content></ng-content>
</ng-template>
